Source: openmediavault-greyhole
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>> 7)
Standards-Version: 3.6.10
Homepage: http://omv-extras.org/simple/index.php?id=how-to-install-greyhole-plugin

Package: openmediavault-greyhole
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.5), openmediavault (<< 0.6), 
 openmediavault-mysql (>= 0.5), greyhole (>= 0.9.22), cifs-utils
Priority: optional
Description: OpenMediaVault Greyhole (Storage pool server) plugin
 Greyhole is an application that uses Samba to create a storage pool of all
 your available hard drives (whatever their size, however they're connected),
 and allows you to create redundant copies of the files you store, in order
 to prevent data loss when part of your hardware fails.
